.welcome {
    font-size: 50px;
    color:darkblue;
    font-weight: 900;
}
.span {
    font-size: 50px;
    color: crimson;
    font-weight: 900;
} 

.para {
    font-size: 20px;
}

a {
    font-size: medium;
    font-weight: 700;
    color: crimson;
}